<div class="card mt-4" style="width: 18rem;">
  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">Product: {{product.name}}</li>
    <li class="list-group-item">Price: £ {{product.price}}</li>
    <li class="list-group-item">Quantity: {{product.quantity}}</li>
    <li class="list-group-item">Subtotal: £ {{product.subTotalPrice}}</li>
    {{#if (eq product.id 'GR1')}}
      <li class="list-group-item">For free: {{product.discount}} units</li>
    {{else}}
      <li class="list-group-item">Discount: £ {{product.discount}}</li>
    {{/if}}
  </ul>
</div>