<ul>
  <li>Product: {{product.name}}</li>
  <li>Price: {{product.price}} pounds</li>
  <li>Quantity: {{product.quantity}}</li>
  <li>Subtotal: {{product.subTotalPrice}} </li>
  <li>Discount: {{product.discount}}</li>
</ul>