<h2>List of Products</h2>

<container>
  {{#each this.model as |product|}}
    <card>
      ID: {{product.id}}
      Product: {{product.name}}
      Price: {{product.price}}
      Quantity: {{product.quantity}}
      <div>
        <button {{action 'addProduct' product}} type="button">
        Add to basket
        </button>
      </div>
    </card>
  {{/each}}
</container>

{{outlet}}